[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ansible = "*"
ansible-lint = "==3.*"
docker = "*"
molecule = "*"

[dev-packages]

[requires]
python_version = "3.7"
