# {{ ansible_managed }}
# /etc/hosts: static lookup table for host names

#<ip-address>	<hostname.domain.org>	<hostname>
127.0.0.1	localhost.localdomain	localhost
::1		localhost.localdomain	localhost
{{ ansible_default_ipv4.address }}{{ '\t' }}{{ inventory_hostname }}{{ '\t' }}{{ inventory_hostname_short }}

# End of file
